.container {
    padding: 0 2rem !important;
  }
  
  .mainHome {
    min-height: 100vh !important;
    flex: 1 !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
  }